---
title: linja suwi
---
<!doctype html>
<html>
    <head>
		<title>{{ page.title }}</title>
{% include header.html %}
    </head>
    <body>
		<div class="poki-suli">
			<h1>linja-suwi la lipu ale</h1>
			<p>
				linja-suwi li nasin linja sin pi sitelen pona.
				<a href="/linjasuwi.otf">o kama jo e ona lon ni.</a>
				<a href="https://github.com/anna328p/linjasuwi/">lipu pali pi linja-suwi li lon ni.</a>
			</p>
			<p>
				lipu sin pi linja-suwi li kama lon tenpo mute. nanpa sin lipu lon tenpo ni li <b>1.200</b>.  linja-suwi sin li kama lon la, mi pana e ona tawa lipu ni.
			</p>
			<p>
				mi sitelen e nimi kepeken ilo [INKSCAPE]. mi ante e ona tawa nasin linja kepeken ilo [FONTFORGE].
			</p>
			<p>
				sina ken kepeken li ken ante li ken pana e ona ante sama nasin [SIL OFL].
				mi pali e ona kepeken toki ilo. sina ken ante e toki ilo ni sama nasin [AGPL].
			</p>
			<h2>o sitelen e linja-suwi:</h2>
			<p>
				sina kepeken ilo linluwi [CHROME] anu ilo [EDGE] la, sitelen lon insa poki ni li ken ike lukin a.
				ni li ike pi ilo linluwi. ike ni li lon poki ni taso. ona li lon ala ilo ante.
				mi ken ala pona e ona. ike li tan jan pali pi ilo [BLINK].
			</p>
			<textarea spellcheck=false>lipu ni la sina ken sitelen e toki-pona kepeken linja-suwi</textarea>
			<h2>sona pi linja-suwi</h2>
			<p>
				o pana e toki sina sama nasin linja ante. ilo li pali pona la, toki sina li kama sitelen pona.
				nimi pi mute lili la, sina ken wan e nimi tu sama ni:
				nimi [linja -suwi] li kama [linja-suwi]. nimi [toki -pona] li kama [toki-pona].
				tenpo kama la, wile mi la, nimi mute sama ni li kama lon.
			</p>
			<p>
				ike li lon linja-suwi la, o toki e ona tawa mi la mi pona e ona. 
				<a href="https://github.com/anna328p/linjasuwi">o toki lon lipu [GITHUB] ona</a>.
				ni li ike tawa sina la, o toki tawa mi lon ilo toki [DISCORD] (<span class="inli">alienpirate5#3091</span>).
			</p>
			<h2>nimi ale lon linja-suwi</h2>
			<p>
				o sona e ni: nimi lon anpa ni li ken ante nimi lon linja-suwi. nimi mute la, ona li ante lili tan pakala pi ilo [FONTFORGE]. nimi ante la, ona li ante tan wile mi. ni la, nimi ale ala li ante. mute pi nimi ni li sama linja-suwi.
			</p>
{% include lipu-nimi.html %}
		</div>
    </body>
</html>
