@font-face {
	font-family: 'linja suwi';
	src: url('linjasuwi.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

* {
	font-family: 'linja suwi';
	font-feature-settings: "kern" 1;
	margin-top: 1rem;
	margin-bottom: 0.5rem;
}

p, textarea { font-size: 32pt; }

h1 { text-align: center; }
h1 { font-size: 12rem; }
h2 { font-size: 4rem; }

textarea {
	display: block;
	width: 100%;
}

.poki-suli {
	width: 80%;
	margin: auto;
}

.inli {
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	font-size: 2rem;
	vertical-align: middle;
}

.nimi {
	display: block;
	margin: 1rem;
	width: 8rem;
	text-align: center;
	flex-grow: 1;
}
.nimi-suli img { width: 6rem; }
.nimi-lasin { }
.poki-nimi {
	display: flex;
	height: 20vh;
	flex-flow: row wrap;
}
