        <style>
@font-face {
    font-family: 'linja suwi';
    src: url('linjasuwi.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'linja suwi';
    font-feature-settings: "kern" 1;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

p, textarea { font-size: 32pt; }

h1 { text-align: center; }
h1 { font-size: 12rem; }
h2 { font-size: 4rem; }

textarea {
	display: block;
    width: 100%;
}

.poki-suli {
	width: 80%;
	margin: auto;
}

.inli {
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	font-size: 2rem;
	vertical-align: middle;
}
        </style>

		<!-- COMMON TAGS -->
		<meta charset="utf-8">
		<title>linja suwi: nasin linja pi sitelen pona</title>
		<!-- Search Engine -->
		<meta name="description" content="linja suwi li nasin linja sin. lipu ni la, o kama jo e ona. sina ken kepeken ona lon ale tawa ale.">
		<meta name="image" content="https://linjasuwi.ap5.dev/linja-suwi.png">
		<!-- Schema.org for Google -->
		<meta itemprop="name" content="linja suwi: nasin linja pi sitelen pona">
		<meta itemprop="description" content="linja suwi li nasin linja sin. lipu ni la, o kama jo e ona. sina ken kepeken ona lon ale tawa ale.">
		<meta itemprop="image" content="https://linjasuwi.ap5.dev/linja-suwi.png">
		<!-- Twitter -->
		<meta name="twitter:card" content="summary">
		<meta name="twitter:title" content="linja suwi: nasin linja pi sitelen pona">
		<meta name="twitter:description" content="linja suwi li nasin linja sin. lipu ni la, o kama jo e ona. sina ken kepeken ona lon ale tawa ale.">
		<meta name="twitter:creator" content="@anna328p">
		<meta name="twitter:image:src" content="https://linjasuwi.ap5.dev/linja-suwi.png">
		<!-- Open Graph general (Facebook, Pinterest & Google+) -->
		<meta name="og:title" content="linja suwi: nasin linja pi sitelen pona">
		<meta name="og:description" content="linja suwi li nasin linja sin. lipu ni la, o kama jo e ona. sina ken kepeken ona lon ale tawa ale.">
		<meta name="og:image" content="https://linjasuwi.ap5.dev/linja-suwi-suli.png">
		<meta name="og:url" content="https://linjasuwi.ap5.dev">
		<meta name="og:site_name" content="ap5.dev">
		<meta name="og:type" content="website">
